<!DOCTYPE html>
<!-- saved from url=(0070) https://gorajek.com/projects/nft-crypton/DarkThemeHTML/homestyle1.html-->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>CryptoN::Home Style 1</title>
  
  <meta name="Googlebot-News" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="robots" content="noimageindex">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="all" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="~/css/slick.css">
  <link rel="stylesheet" media="all" href="~/css/slick-theme.css">
  <link rel="stylesheet" media="all" href="~/css/style.css">
  <link rel="icon" type="image/png" sizes="28x28" href="/favi.png">
  <meta name="theme-color" content="#sdfsf">
</head>
<body class="themebgcolor" data-new-gr-c-s-check-loaded="14.1047.0" data-gr-ext-installed="" style="">
<div class="circlebg1"><img class="img-fluid" src="~/css/circlebg19.svg" alt="img"></div>
  <div class="circlebg2"><img class="img-fluid" src="~/css/circlebg20.svg" alt="img"></div>
  <div class="circlebg3"><img class="img-fluid" src="~/css/circlebg21.svg" alt="img"></div>

  <!-- header -->
  <header>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="logo"><a href=""><img class="img-fluid" src="~/css/cryptonlogo.svg" alt="img"></a></div>
        <div class="searchform d-none d-md-inline-flex">
          <form>
            <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
            <button><img src="~/css/searchicon.svg" alt="img"></button>
          </form>
        </div>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <div class="hamburger-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </button>
        <nav class="navbar navbar-expand-xl">
         
          <div class="collapse navbar-collapse" id="navbar-content">
            <div class="logo d-md-none"><a href="#"><img class="img-fluid" src="~/css/cryptonlogo.svg" alt="img"></a></div>
            <div class="searchform d-md-none">
              <form>
                <input type="text" name="SearchItem" placeholder="Search items, collections and creators">
                <button><img src="~/css/searchicon.svg" alt="img"></button>
              </form>
            </div>

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Homepage</a>
                <ul class="dropdown-menu shadow">
                  <li class="active"><a class="dropdown-item" href="">Style 1</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/homestyle2.html">Style 2</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/homestyle3.html">Style 3</a></li>
                </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Discover</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/discover1.html">Discover style 1</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/discover2.html">Discover style 2</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/discover3.html">Discover style 3</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/itemstyle.html">Item style</a></li>
                </ul>
              </li>

              <li class="nav-item d-none d-sm-none d-xl-block">
                <a class="nav-link" aria-current="page" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/activity.html">Activity</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/collection.html">Collection</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/author-page.html">Author Page</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/authors.html">Authors</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/create.html">Create</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown d-xl-none">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Profile</a>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/signin.html">Sign in</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/signup.html">Sign up</a></li>
                  <li><a class="dropdown-item" href="#">Forgot password</a></li>
                </ul>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Inform center</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/aboutus.html">About Us</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/blogstyle1.html">Blog style 1</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/blogstyle2.html">Blog style 2</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/articlestyle1.html">Article style 1</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/articlestyle2.html">Article style 2</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/faq.html">FAQ</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/contact.html">Contact</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/privacypolicy.html">Privacy Policy</a></li>
                  <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/404page.html">404 Page</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">EN</a>
                <ul class="dropdown-menu shadow">
                  <li><a class="dropdown-item" href="#.html">Русский</a></li>
                  <li><a class="dropdown-item" href="#.html">English</a></li>
                  <li><a class="dropdown-item" href="#.html">Español</a></li>
                  <li><a class="dropdown-item" href="#.html">Français</a></li>
                  <li><a class="dropdown-item" href="#.html">Deutsch</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="loginWallet d-none d-md-inline-flex">
          <div class="dropdown me-md-3 me-lg-2 me-xl-1 me-xxl-3">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="~/css/usericon.svg" alt="img">
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/signin.html">Sign in</a></li>
              <li><a class="dropdown-item" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/signup.html">Sign up</a></li>
              <li><a class="dropdown-item" href="#">Forgot password</a></li>
            </ul>
          </div>

          <a class="btn" href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/wallet.html">
              <img src="~/css/walleticon.svg" alt="img">
          </a>
          
        </div>
      </div>
    </div>
  </div>
</header>

<!-- banner sec -->
<div class="bannerSec">
  <div class="bannerImg-sm d-sm-block d-md-none">
      <img src="~/css/bannermain.png" alt="img">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bannercntSec">
          <div class="bannerImg">
            <!-- <img class="img-fluid d-sm-block d-md-none" src="img/patterbannerimg.png" alt="img"> -->
           <div class="bannerimg01 d-none d-md-block">
              <img class="img-fluid" src="~/css/bannerimg01.png" alt="img">
            </div>

            <div class="bannerimg02 d-none d-md-block">
              <img class="img-fluid" src="~/css/bannerimg02.png" alt="img">
            </div>

            <div class="bannerimg03 d-none d-md-block">
              <img class="img-fluid" src="~/css/bannerimg03.png" alt="img">
            </div>

            <div class="bannerbtn 1d-block d-none d-sm-none d-md-block d-xl-none mt-0 mt-md-4">
              <button class="btn btnlightblue me-3" onclick="window.location.href = &#39;discover1.html&#39;">Discover</button>
              <button class="btn btndarkblue" onclick="window.location.href = &#39;create.html&#39;">Create</button>
            </div>
          </div>

          <div class="bannercnt">
            <h2 class="textwhitecolor">Discover, collect, and sell <span class="textbluecolor">extraordinary NFTs</span></h2>
            <p class="textgraycolor">on the world's first &amp; largest NFT marketplace</p>
            <div class="bannerbtn d-block d-sm-block d-md-none d-lg-none d-xl-block">
              <button class="btn btnlightblue me-3" onclick="window.location.href = &#39;discover1.html&#39;">Discover</button>
              <button class="btn btndarkblue" onclick="window.location.href = &#39;create.html&#39;">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Popular collections -->
<div class="popularCollection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headingWh mb-4">Popular collections</h2>
        <div class="tab-sec">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link d-none d-sm-none d-md-block active" data-bs-toggle="tab" data-bs-target="#TabOne">All categories</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#TabTwo">Digital</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#TabThree">Photography</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#TabFour">Memes</button>
              
              <div class="more-tab">
                <a href="javascript:void(0)" class="textbluecolor categorytab">Choose category <img src="~/css/bluedown.png" alt="arrow-down"></a>
                <div class="more-box nav nav-tabs" id="more_tab" role="tablist">

                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#TabOne">All categories</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabTwo">Digital</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabThree">Photography</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#TabFour">Memes</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg1">All categories</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg2">Memes</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg3">Photography</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg4">Digital</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg5">News</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg6">Music</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg7">Domain names</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg8">Virtual worlds</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg9">Trading cards</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg10">Sports</button>
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabcatg11">Utility</button>
                </div>
              </div>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="TabOne">
              <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2352px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon01.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg02.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon02.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg03.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon03.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon01.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg02.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon02.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 392px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg03.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon03.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>

            </div>

            <div class="tab-pane fade" id="TabTwo">
              <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg03.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon03.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon01.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg02.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon02.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg03.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon03.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon01.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/popularcolimg02.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/popularcolicon02.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
            </div>

            <div class="tab-pane fade" id="TabThree">
              <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
            </div>


            <div class="tab-pane fade" id="TabFour">
              <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
            </div>

            <div class="tab-pane fade" id="tabcatg1">
              <div class="white-box">
               <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabcatg2">
              <div class="white-box">
                <div class="popular slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 0px;"><div><div class="creators" style="width: 100%; display: inline-block;">
                  <div class="creatorImg"><img class="img-fluid" src="~/css/creatoreimg01.png" alt="img"></div>
                  <div class="creatorIcon">
                    <img class="img-fluid" src="~/css/authoreicon11.png" alt="imig">
                    <div class="creatorcheck"><img src="~/css/checkicon.svg" alt="img"></div>
                  </div>
                  <div class="creatorsText text-center">
                    <h2 class="textwhitecolor">RTFKT Creators</h2>
                    <h3 class="textbluecolor">by RTFKT</h3>
                    <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Top sellers -->
<div class="TopsellerSec pt-5 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headingWh mb-4">Top sellers</h2>
        <div class="tab-sec">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link d-none d-sm-none d-md-block active" data-bs-toggle="tab" data-bs-target="#SellerTabOne">All</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#SellerTabTwo">24 Hours</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#SellerTabThree">Last week</button>
              <button class="nav-link d-none d-sm-none d-md-block" data-bs-toggle="tab" data-bs-target="#SellerTabFour">Last month</button>

              <div class="more-tab d-block d-sm-block d-md-none">
                <a href="javascript:void(0)" class="textbluecolor categoryTimeTab">Choose category <img src="~/css/bluedown.png" alt="arrow-down"></a>
                <div class="more-box nav nav-tabs" id="timeTab" role="tablist">
                 <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#SellerTabOne">All</button>
                 <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SellerTabTwo">24 Hours</button>
                 <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SellerTabThree">Last week</button>
                 <button class="nav-link" data-bs-toggle="tab" data-bs-target="#SellerTabFour">Last month</button>
               </div>
              </div>


            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="SellerTabOne">
              <div class="topSellers">
                <ul>
                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">1</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg01.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">2</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg02.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">3</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg03.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">4</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg04.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">5</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg05.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">6</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg06.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">7</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg07.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">8</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg08.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">9</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg09.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>
                </ul>
                <button class="btn btnlightblue mt-3 d-sm-block d-md-none">Go to rankings</button>
              </div>
            </div>

            <div class="tab-pane fade" id="SellerTabTwo">
              <div class="topSellers">
                <ul>
                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">1</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">2</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">3</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">4</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">5</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">6</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">7</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">8</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">9</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/sellerimg01.svg" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="SellerTabThree">
              <div class="topSellers">
                <ul>
                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">1</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg01.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">2</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg02.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">3</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg03.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">4</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg04.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">5</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg05.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">6</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg06.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">7</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg07.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">8</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg08.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">9</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg09.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="SellerTabFour">
              <div class="topSellers">
                <ul>
                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">1</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg01.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">2</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg02.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">3</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg03.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">4</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg04.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">5</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg05.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">6</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg06.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>

                  <li>
                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">7</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg07.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">8</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg08.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>

                    <div class="seller">
                      <div class="sellerLeft">
                        <div class="sellcount">9</div>
                        <div class="sellerimg">
                          <img class="img-fluid" src="~/css/topsellerimg09.png" alt="img"> 
                          <span class="bluecheckicon"><img src="~/css/checkicon.svg" alt="img"></span>
                        </div>
                        <div class="sellertitlepr">
                          <h2>Metasaurs by Dr. DMT</h2>
                          <h3><img src="~/css/priceicon.svg">  8 921,77</h3>
                        </div>
                      </div>
                      <div class="sellerPrice textbluecolor">+ 69,5%</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Last Added Items -->
<div class="LastAddedItems mt-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-4">Last Added Items</h2>
        <div class="lastAdded slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1764px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg01.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg02.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg03.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg04.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg01.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/last-added-itemimg02.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
      </div>
    </div>
  </div>
</div>



<!-- Last Added Items -->
<div class="LastAddedItems mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headingWh mb-3 mb-sm-3 mb-md-4 mb-xl-4">Live Auction</h2>
        <div class="lastAdded slider slick-initialized slick-slider"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1764px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
                <h4 class="textbluecolor">09 : 17 : 05</h4>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg2.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
                <h4 class="textbluecolor">09 : 17 : 05</h4>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg3.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg4.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
                <h4 class="textbluecolor">09 : 17 : 05</h4>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 294px;"><div><div class="aboutitem" style="width: 100%; display: inline-block;">
            <div class="aboutitemImg"><img class="img-fluid" src="~/css/liveauitemimg2.png" alt="img"></div>
            <div class="bgdarkbluecolor aboutitemcnt">
              <div class="itemtitlecode">
                <h2 class="textgraycolor">Cryptosharks</h2>
                <h3 class="textwhitecolor">Cryptosharks #4939</h3>
                <h4 class="textbluecolor">09 : 17 : 05</h4>
              </div>
              <div class="itemtitlePrice">
                <h2 class="textgraycolor">Price</h2>
                <h3 class="textwhitecolor"><img src="~/css/priceicon.svg"> <strong>0, 006</strong></h3>
                <h4 class="textgraycolor"><span><img src="~/css/hearticon-blue.svg"></span> 56</h4>
              </div>
            </div>
          </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button></div>
      </div>
    </div>
  </div>
</div>



<!-- Popular collections -->
<div class="popularcollections mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headingWh mb-4 mb-sm-4 mb-md-4 mb-xl-4">Create and Sell your NFTs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="createsell">
          <div class="createsellHead">
            <div class="creatsellicon"><img src="~/css/setupwalleticon.svg" alt="img"></div>
            <h3 class="textwhitecolor">Set up your wallet</h3>
          </div>
          <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="createsell">
          <div class="createsellHead">
            <div class="creatsellicon"><img src="~/css/collectionicon.svg" alt="img"></div>
            <h3 class="textwhitecolor">Create your collection</h3>
          </div>
          <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="createsell">
          <div class="createsellHead">
            <div class="creatsellicon"><img src="~/css/addyouricon.svg" alt="img"></div>
            <h3 class="textwhitecolor">Add your NFTs</h3>
          </div>
          <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="createsell">
          <div class="createsellHead">
            <div class="creatsellicon"><img src="~/css/listthemicon.svg" alt="img"></div>
            <h3 class="textwhitecolor">List them for sale</h3>
          </div>
          <p class="textgraycolor">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-4">
        <div class="footsec">
          <div class="footlogocntSec">
          <a href="#" class="footlogo"><img class="img-fluid" src="~/css/footlogo.svg" alt="img"></a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          </div>
          <div class="joincommunity">
            <h3>Join the Community</h3>
            <ul>
              <li><a href="#"><img class="img-fluid" src="~/css/discordbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="~/css/twitter.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="~/css/insta.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="~/css/reditbutton.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="~/css/youtube.svg" alt="img"></a></li>
              <li><a href="#"><img class="img-fluid" src="~/css/emailbutton.svg" alt="img"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-8 d-none d-md-flex justify-content-between">
        <div class="footlinks">
          <h2>My account</h2>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">My collection</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Discover</h2>
          <ul>
            <li><a href="#">Art</a></li>
            <li><a href="#">Phorography</a></li>
            <li><a href="#">Domain Names</a></li>
            <li><a href="#">Memes</a></li>
            <li><a href="#">Virtual Worlds</a></li>
            <li><a href="#">Trading  Cards</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h2>Inform Center</h2>
          <ul>
            <li><a href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/aboutus.html">About Us</a></li>
            <li><a href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/faq.html">FAQ</a></li>
            <li><a href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/blogstyle1.html">Blog</a></li>
            <li><a href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/contact.html">Contact</a></li>
            <li><a href="https://gorajek.com/projects/nft-crypton/DarkThemeHTML/newsletter.html">Newsletter</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


 <div id="elevator_item"><a id="elevator" onclick="return false;" title="Back To Top"></a></div>


<!-- Optional JavaScript -->
<script src="~/css/jquery-2.0.0.min.js"></script>
<script src="~/css/bootstrap.bundle.min.js"></script>
<script src="~/css/app.js"></script>
<script src="~/css/slick.js"></script>
<script src="~/css/comman.js"></script>

</body>
</html>

  @RenderBody()

    @RenderSection("Scripts", required: false)

